<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913815297181-gpehp0lrfer38ufr6arnesqhkrbga8th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913815297181-gpehp0lrfer38ufr6arnesqhkrbga8th</string>
	<key>API_KEY</key>
	<string>AIzaSyBhlON9JBsBFKF2WEPf_F9T0GLKiWDyEaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>913815297181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heshan.Essential-Fitness</string>
	<key>PROJECT_ID</key>
	<string>fitness-essencial-nibm-project</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-essencial-nibm-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913815297181:ios:623b3fed7b6fbd5ca70874</string>
</dict>
</plist>